In [1]:
#Check your development environment is working correctly
import sklearn
import numpy as np
import pandas as pd

print('The scikit-learn version is {}.'.format(sklearn.__version__))
if(sklearn.__version__ != "0.19.2"):
    print("This course was coded using sklearn 0.19.2.  Most things will work, but there are likely many that will not. You can proceed, but at your own risk.")

The scikit-learn version is 0.19.2.

In [2]:
data = pd.read_csv("data/L1Data.csv")
data

        Class   Age  Funds Sale
0    Freshmen  18.0  600.0   No
1    Freshmen  18.0  500.0   No
2    Freshmen  18.0  600.0   No
3      Senior  23.0  800.0   No
4      Junior  21.0  400.0  Yes
5    Freshmen  19.0  600.0   No
6    Freshmen  20.0  600.0   No
7      Senior  24.0    NaN  Yes
8   Sophomore  23.0  620.0  Yes
9   Sophomore  25.0  800.0  Yes
10     Junior  21.0  900.0   No
11     Junior  21.0  650.0  Yes
12  Sophomore   NaN  500.0   No
13     Junior  21.0  800.0   No
14     Junior  20.0  650.0  Yes
15  Sophomore  21.0  580.0  Yes
16  Sophomore  20.0  800.0  Yes
17     Senior  26.0    NaN  Yes
18     Senior  25.0    NaN  Yes
19     Senior  41.0    NaN  Yes
20  Sophomore   NaN  500.0   No
21   Freshmen  18.0  500.0   No
22   Freshmen  18.0  500.0   No
23   Freshmen  18.0  600.0   No

In [3]:
X = data[["Class", "Age", "Funds"]].values
X

array([['Freshmen', 18.0, 600.0],
       ['Freshmen', 18.0, 500.0],
       ['Freshmen', 18.0, 600.0],
       ['Senior', 23.0, 800.0],
       ['Junior', 21.0, 400.0],
       ['Freshmen', 19.0, 600.0],
       ['Freshmen', 20.0, 600.0],
       ['Senior', 24.0, nan],
       ['Sophomore', 23.0, 620.0],
       ['Sophomore', 25.0, 800.0],
       ['Junior', 21.0, 900.0],
       ['Junior', 21.0, 650.0],
       ['Sophomore', nan, 500.0],
       ['Junior', 21.0, 800.0],
       ['Junior', 20.0, 650.0],
       ['Sophomore', 21.0, 580.0],
       ['Sophomore', 20.0, 800.0],
       ['Senior', 26.0, nan],
       ['Senior', 25.0, nan],
       ['Senior', 41.0, nan],
       ['Sophomore', nan, 500.0],
       ['Freshmen', 18.0, 500.0],
       ['Freshmen', 18.0, 500.0],
       ['Freshmen', 18.0, 600.0]], dtype=object)

In [4]:
y = data[["Sale"]].values

In [5]:
X

array([['Freshmen', 18.0, 600.0],
       ['Freshmen', 18.0, 500.0],
       ['Freshmen', 18.0, 600.0],
       ['Senior', 23.0, 800.0],
       ['Junior', 21.0, 400.0],
       ['Freshmen', 19.0, 600.0],
       ['Freshmen', 20.0, 600.0],
       ['Senior', 24.0, nan],
       ['Sophomore', 23.0, 620.0],
       ['Sophomore', 25.0, 800.0],
       ['Junior', 21.0, 900.0],
       ['Junior', 21.0, 650.0],
       ['Sophomore', nan, 500.0],
       ['Junior', 21.0, 800.0],
       ['Junior', 20.0, 650.0],
       ['Sophomore', 21.0, 580.0],
       ['Sophomore', 20.0, 800.0],
       ['Senior', 26.0, nan],
       ['Senior', 25.0, nan],
       ['Senior', 41.0, nan],
       ['Sophomore', nan, 500.0],
       ['Freshmen', 18.0, 500.0],
       ['Freshmen', 18.0, 500.0],
       ['Freshmen', 18.0, 600.0]], dtype=object)

In [8]:
from sklearn.preprocessing import Imputer
imputing_configuration = Imputer(missing_values = 'NaN', strategy="mean")
imputed_values = imputing_configuration.fit(X[:])